<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="main-menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de Bazar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/orgaos-fiscalizadores">Órgãos Fiscalizadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orgaos-donatarios">Órgãos Donatários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lotes">Lotes de Doação</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>